@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-padding: 60px 135px 60px 135px;
  --common-color: rgba(0, 0, 0, 0.2);
}

/* !Header */

header {
  background: url("../img/header.png");
  background-size: cover;
  background-position: center;
  height: 810px;
}

header section .heading {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

.header-content {
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  color: white;
  font-family: "Alegreya SC", serif;
  font-size: 36px;
}

.heading a {
  text-decoration: none;
  color: white;
  font-size: xx-large;
}

.header-content h1 {
  font-family: "Nixie One", serif;
  font-size: 56px;
  color: white;
  font-weight: 400;
  line-height: 56px;
}

.header-content p {
  font-size: 22.4px;
  font-weight: 400;
  line-height: 56px;

  font-family: "Alegreya SC";
  color: white;
  opacity: 0.6;
}

/* !Main */

.portfolio {
  max-width: 1440px;
  margin: auto;
  padding: 50px 30px;
  height: 800px;
}

.portfolio-container {
  height: 623px;
  margin: 30px 135px 60px 135px;
}

.portfolio-header {
  margin: 0 15px 60px 15px;
  height: 75px;

  display: flex;
  justify-content: space-between;
}

.portfolio-header h1 {
  color: #3a4f52;
  font-size: 36px;
  font-family: "Alegreya SC";
  font-weight: 500;
  line-height: 39.6px;
  margin-bottom: 20px;
}

.portfolio-header p {
  color: #6a6a6a;
  line-height: 20px;
  font-family: "Helvetica Neue", sans-serif;
}

.portfolio-grid {
  height: 488.75px;
  width: 1170px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 214.38px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.6);
}

.image-container:hover .overlay {
  opacity: 1;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid white;
  color: white;
  background: transparent;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
  cursor: pointer;
  z-index: 2;
}

.image-container:hover .btn {
  opacity: 1;
}

.btn:hover {
  background: white;
  color: gray;
}

/* !Service */

.services {
  background: url("../img/service.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;

  height: 562px;
  padding: 80px 135px 80px 170px;
}

.service-container {
  width: 1170px;
  height: 382px;
  background: var(--common-color);
}

.service-header {
  text-align: center;
  height: 75px;
  margin: 20px 15px 0 15px;
  color: white;
}

.service-header h1 {
  font-size: 36px;
}

.service-content {
  height: 210px;
  margin-top: 50px;

  display: flex;
  column-gap: 10px;
}

.service-content div {
  margin: 10px;
  width: 360px;
  height: 188px;
  text-align: center;
}

.service-content div h3 {
  font-size: 26px;
  color: white;
  font-weight: 500;
}

.service-content div p {
  font-family: "Alegreya Sans", serif;
  font-weight: 500;
  line-height: 20px;
  color: white;

  padding-left: 30px;
}

/* !Blog */

.blog {
  height: 817px;
  padding: var(--custom-padding);
}

.blog-container {
  width: 1170px;
  height: 697px;
}

.blog-header {
  width: 1140px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.blog-header h1 {
  font-weight: 500;
  font-size: 36px;
  color: #3a4f52;
  line-height: 39.6px;
}

.blog-section {
  margin-top: 60px;
  padding-left: 15px;
  width: 1140px;
  height: 563px;
  display: flex;
  column-gap: 20px;
}

.blog-section img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.blog-section h2 {
  color: #3a4f52;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  font-family: "Alegreya SC";
}

.blog-section p {
  font-size: 14px;
  line-height: 20px;
  color: #6a6a6a;
}

.blog-section a {
  text-decoration: none;
  color: #4da7ca;
}

.blog-header p {
  font-family: "Helvetica Neue", sans-serif;
  color: #6a6a6a;
}

.view-all {
  background: transparent;
  border: 2px solid #333;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.view-all:hover {
  background-color: gray;
  color: white;
}

.col-sm-1 {
  width: 390px;
  height: 433px;
}

.col-sm-2 {
  width: 390px;
  height: 473px;
}
.col-sm-2 img {
  height: 270px;
}
.col-sm-3 {
  width: 390px;
  height: 563px;
}

/* !Parallax */

.parallax {
  height: 385px;
  background: url("../img/parallax.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  background: var(--common-color);
  color: white;
  text-align: center;
  padding: 20px;
  width: 80%;
  height: 225px;
}

.overlay p {
  font-size: 36px;
  font-weight: 500;
  font-family: "Alegreya Sans";
}

.overlay button {
  margin-top: 50px;
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.overlay button:hover {
  background: white;
  color: #6a6a6a;
}

/* !Testimonial */

.testimonials {
  height: 609px;
  padding: var(--custom-padding);
}

.testimonials-container {
  height: 489px;
}

.testimonials-header {
  text-align: center;
  height: 74px;
  margin-bottom: 100px;
}

.testimonials-header p {
  color: #6a6a6a;
}

.testimonials-text {
  height: 355px;
  display: flex;
  column-gap: 30px;

  padding-left: 50px;
}

.testimonials h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  font-family: "Alegreya SC";
  color: #3a4f52;
}

.author {
  width: 360px;
  height: 355px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding-top: 25px;
}

.author img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.author p {
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;

  line-height: 20px;
  color: #6a6a6a;
}

/* !Contact */

.contact {
  height: 495px;
  padding: var(--custom-padding);
  background: url("../img/contact_header.png") no-repeat center center/cover;

  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  background: var(--common-color);

  height: 375px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 60px;

  color: white;
}

.contact-header {
  width: 1140px;
  height: 75px;
  margin: 20px 15px 0 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  row-gap: 15px;
}

.contact-header h2 {
  font-size: 36px;
  line-height: 40px;
}

.contact-header p {
  line-height: 20px;
  font-size: 14px;
}

.contact-form {
  width: 555px;
  height: 201px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

form input,
textarea {
  background: transparent;
  padding: 7px;
  border: 1px solid #cccccc;
}

form textarea {
  height: 55px;
  resize: none;
}

form input::placeholder,
textarea::placeholder {
  color: white;
}

.say-hello {
  width: 85px;
  background: transparent;
  color: white;
  border: 1px solid white;
  align-self: center;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.say-hello:hover {
  background-color: lightgray;
  color: black;
}

footer {
  background-color: #2b3e51;
  height: 140px;
  padding: 62px 0px 62px 150px;
}

footer p {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* !Media Queries */

@media screen and (max-width: 768px) {
  .service-container {
    flex-direction: column;
  }

  .testimonials-container {
    flex-direction: column;
  }
}

@media screen and (max-widtd: 430px) {
  .testimonials-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  .portfolio-grid {
    display: flex;
    flex-direction: column;

    row-gap: 30px;
    
  }

  .image-container {
    width: 100%;
  }
}
