


form {
    margin-left: 500px;
    margin-top: 40px;
}

label {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    
}

label::after{
    margin-left: 5px;
    content: '*';
    color: red;
}

input{
    height: 30px;
    margin-bottom: 10px;
}

#vorname{
    width: 210px;

}
#nachname{
    width: 200px;
}
#email{
width: 420px;
}

select {
    height: 40px;
    font-size: 16px;
    width: 425px;
    margin-bottom: 10px;
}

textarea {
    width: 420px;
    height: 100px;
}

#btn
{
    margin-top: 20px;
    width: 425px;
    height: 40px;
    background-color: rgb(18, 34, 208);
    color: wheat;
}

