@font-face {
  font-family: "Gilda";
  src: url(../fonts/Gilda_Display/GildaDisplay-Regular.ttf);
}

@font-face {
  font-family: "Maven_Pro";
  src: url("../fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

header {
  height: 694px;
  background-color: #333333;
}

header p {
  color: #949494;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 15px 0 0 20px;
  font-size: 17.6px;
  line-height: 20px;
}

header p:nth-of-type(2) {
  text-indent: 10px;
}

.creative {
  height: 227px;
  width: 300px;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 255, 0.475) 20%,
    rgba(39, 39, 240, 0.88) 50%,
    #48cefa 100%
  );
  margin: 100px 0 0 600px;
  border-radius: 8px;
}

h2 {
  font-family: "Gilda Display", serif;
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 400;
}

.creative p {
  font-family: "Maven Pro", serif;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400px;
  color: white;
  list-style: 18.8px;
  text-align: center;
}

a{
  display: block;
  text-align: right;
  margin-right: 30px; margin-top: 20px;
  color:  #8C8C8C;
  text-decoration-line: none;
  font-size: 16px;
  font-weight: 400;
}

main section {
  margin-top: 200px;
}

section h1 {
  font-size: 120px;
  opacity: 0.05;
  margin-left: 30px;
}

section h3{
  margin-top: -40px;
  font-size: 36px;
  margin-left: 40px;
}

.text {
  font-family: 'Maven_Pro';
  font-weight: 400;
  width: 691px;
  height: 76;
  font-size: 16px;
  line-height: 18.6px;
  text-align: justify;
  margin: 30px 0 0 30px;
}

article {
  margin-top: 120px;
  text-align: center;
}

article img {
  
  width: 695px;
  height: 434px;
  background-position: center;
  background-repeat: no-repeat;
}

article p:nth-of-type(1)
{
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 40px;
}