@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: black;
}

.container {
  background-color: black;
}

/* !Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 80vh;
}

header p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-size: 76px;
  font-weight: 700;
}

header h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 76px;
  margin-top: -25px;
  color: white;
}

.bear {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 2rem 5rem;
}

.bear a {
  color: white;
  text-decoration-line: none;
  border: 1px solid #aaaaaa;
  padding: 12px 30px 12px 30px;
  text-align: center;
}

/* !Main */

section {
  background-color: black;
  color: white;
  padding: 200px 0 200px 80px;
}

.highlight {
  max-width: 600px;
  font-size: 50px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.label {
  font-size: 14px;
  opacity: 0.7;
}

.number {
  font-size: 32px;
  font-weight: bold;
}
