@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  background-color: black;
}

/* !Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 80vh;
  padding-top: 100px;
}

header p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-size: 96px;
  font-weight: 700;
}

header h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 96px;
  margin-top: -25px;
  color: white;
}

.bear {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 2rem 5rem;
}

.bear a {
  color: white;
  text-decoration-line: none;
  border: 1px solid #aaaaaa;
  padding: 12px 30px 12px 30px;
  text-align: center;
}

/* !Main */

.story {
  background-color: black;
  color: white;
  padding: 150px 0 200px 80px;
}

.highlight {
  margin-left: 100px;
  font-size: 70px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px;
  margin: 6.25rem 0 0 6.25rem;
}

.label {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.number {
  font-size: 96px;
  font-weight: bold;
}

/* ! California Map */

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1500px;
  position: relative;
}

.content {
  margin-top: 5rem;
  padding: 20px 40px;
  text-align: center;
  width: 450px;
  z-index: 2;
}

.content h2 {
  font-size: 70px;
  text-align: left;
}

.content p {
  text-align: justify;
}

.content p:nth-of-type(2) {
  margin-top: 90vh;
}

.random-img {
  width: 280px;
  height: auto;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.img1 {
  top: -4%;
  right: 10%;
}
.img2 {
  top: 10%;
  left: 3%;
}
.img3 {
  top: 30%;
  right: 0%;
}
.img4 {
  top: 45%;
  left: 18%;
}
.img5 {
  bottom: 30%;
  right: 25%;
}
.img6 {
  bottom: 10%;
  left: 5%;
}
.img7 {
  bottom: -2%;
  right: 30%;
}

.golden-bear {
  background-color: black;
  color: white;
  height: 1000px;
}

.first-article {
  padding-top: 200px;
  margin-left: 50px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
}

.left-text {
  margin-left: 40px;
}

.left-text h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
}

.left-text p {
  font-size: 20px;
}

.right-text {
  width: 533px;
  height: 200px;
  font-size: 28px;
}

.author {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  padding-top: 10px;
}

.second-article {
  position: relative;
  margin-top: 10vh;
}

.background {
  width: 730px;
  height: 730px;
  margin-left: 200px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 470px;
}

.circle {
  position: relative;
  width: 410px;
  height: 410px;
  top: -300px;
  left: 1050px; 
  animation: rotateImage 5s linear infinite;
}

.rose-bear {
  margin-top: 500px;
}

.third-article {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

#new {
  font-size: 76px;
  font-family: "Inter", sans-serif;
}








/* !Animation */

@keyframes rotateImage {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}