@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: black;
}

.container {
  background-color: black;
}

/* !Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 80vh;
}

header p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-size: 76px;
  font-weight: 700;
}

header h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 76px;
  margin-top: -25px;
  color: white;
}

.bear {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 2rem 5rem;
}

.bear a {
  color: white;
  text-decoration-line: none;
  border: 1px solid #aaaaaa;
  padding: 12px 30px 12px 30px;
  text-align: center;
}

/* !Main */

.story {
  background-color: black;
  color: white;
  padding: 150px 0 200px 80px;
}

.highlight {
  margin-left: 100px;
  font-size: 70px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 6.25rem 0 0 6.25rem;
}

.label {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.number {
  font-size: 70px;
  font-weight: bold;
}

 section .map {
  width: 440px;
  height: 540px;
  position: absolute;
  right: 20px;
}


.rectangle {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.content {
  max-width: 500px;
  margin: 150px auto;
}

.content h2 {
 
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.content p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}


.floating-img {
  position: absolute;
  width: 200px;
  height: auto;
}

 /* !Image Positioning */
.img1 { top: -12rem; right: 5rem; }
.img2 { top: 30px; left: 20px; }
.img3 { bottom: 300px; left: 20%; }
.img4 { top: 300px; right: 10%; }
.img5 { bottom: 50px; left: 5%; }
.img6 { bottom: 10px; right: 20px; }
.img6 { bottom: 10px; right: 20px; }