
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: start;
  }
  
  h1 {
    margin-left: 40px;
  }

  .container {
    display: flex;
    gap: 20px;
  }
  
  .container div {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
  }
  

  .div1 {
    background-color: #ffd700;
  }
  

  .div2 { 
    background-image: url("../img/pic1.jpeg"); 
    background-size: cover;
    background-position: center;
  }
  

  .div3 {
    background: linear-gradient(to right, #ffd700, #000);
  }
  
